<head>
    <meta name="viewport" content="device=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <h2>Deposit Money</h2>
        <input type = "text" id="depositor" placeholder="Enter Depositor Address">
        <input type = "number" id="amount" placeholder="Enter Amount">
        <button class="btn" onclick="deposit()">Deposit</button>
        <button class="btn" onclick="transaction()">View Transaction</button>
    
        <form action="/main" method="post">
            <input type = "submit" value="Main">
        </form>
        
        <h6><p id="view_depositor"></p>
        <p id="view_amount"></p></h6>

        <script src="https://cdn.jsdelivr.net/npm/web3@1.5.2/dist/web3.min.js"></script>
        <script>
            const contractAddress = "0x6c1fb5a437c7e327ee7bdd3a1f866ae3f22fb675"
            const contractABI = [
                {
                    "inputs": [
                        {
                            "internalType": "address",
                            "name": "depositorInput",
                            "type": "address"
                        },
                        {
                            "internalType": "uint256",
                            "name": "amountInput",
                            "type": "uint256"
                        }
                    ],
                    "name": "depositMoney",
                    "outputs": [],
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "inputs": [],
                    "name": "viewDeposit",
                    "outputs": [
                        {
                            "internalType": "address",
                            "name": "",
                            "type": "address"
                        },
                        {
                            "internalType": "uint256",
                            "name": "",
                            "type": "uint256"
                        }
                    ],
                    "stateMutability": "view",
                    "type": "function"
                }
            ]
            const web3 = new Web3(Web3.givenProvider)
            const contract = new web3.eth.Contract(contractABI,contractAddress)

            async function deposit(){
                const accoounts = await web3.eth.requestAccounts()
                const depositor = document.getElementById("depositor").value;
                const amount = document.getElementById("amount").value;
                console.log(depositor,amount)
                console.log("accounts[0]" + accoounts[0])
                await contract.methods.depositMoney(depositor,amount).send({from:accoounts[0]});
            }

            async function transaction(){
                const result = await contract.methods.viewDeposit().call();
                document.getElementById("view_depositor").innerText = "Depositor : " + result[0];
                document.getElementById("view_amount").innerText = "Amount : " + result[1];
                console.log(result[0], result[1]);
            }
        </script>
    </div>
</body>
